{% extends 'game_model_list.html' %}
{% block content_header %}
<h2>Order type list</h2>
<ul>
    {% for key, value in order_types%}
    <li>{{key}} - {{value}}</li>
    {% endfor %}
</ul>
<h2>Instance order: {{order_name}}. Count of sets {{length}}</h2>
{% endblock %}