<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test QuerySet</title>
</head>
<body>
<h1>Games</h1>
{% block content %}

{% block content_header %}
{% endblock %}

<table border="1" cellpadding="3px">
  <tr style="background: blue; color: azure;">
      <td>ID</td>
      <td>Game</td>
      <td>Platform</td>
      <td>Year of production</td>
      <td>Genre</td>
      <td>Publisher</td>
      <td>Sales</td>
    </tr>
  {% for game in game_list %}
    <tr>
        <td>{{game.id}}</td>
        <td>{{game.name}}</td>
        <td>{{game.platform}}</td>
        <td>{{game.year}}</td>
        <td>{{game.genre}}</td>
        <td>{{game.publisher}}</td>
        <td>{{game.global_sales}}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
</body>
</html>