{% extends 'game_model_list.html' %}
{% block content_header %}
<h2>Filter type list</h2>
<ul>
    {% for key, value in filter_types%}
    <li>{{key}} - {{value}}</li>
    {% endfor %}
</ul>
<h2>Instance filter: {{filter_name}}. Count of sets {{length}}</h2>
{% endblock %}